.digits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.display-container {
  background-color: darkgrey;
  height: 100px;
}

.calculator {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 416px;
  justify-content: center;
}

.display-text {
  color: black;
}

.secondary-row-container {
  display: flex;
  flex-direction: row;
}

.operations-container {
  display: flex;
  flex-direction: column;
}

.stretched {
  flex-grow: 2;
}
